*,
*:before,
*:after { box-sizing: border-box;}

:root {
  --main-bg: #282a31;
  --nav-bg-alpha: 30, 33, 39;
  --modal-bg: #2d2f36;
  --text-body: #d4d4d6;
  --accent: #DAA520;
  --link: #DE7826;
  --border-tarot-card: rgba(253, 184, 19, .3);

  --white: #ffffff;
  --black: 0, 0, 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  background-color: var(--main-bg);
  font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
}

[id*="sectionTitle"] { scroll-margin-top: 4.8rem; }
.container-xxl       { padding-right: 1.6rem; padding-left: 1.6rem; }

/* Typography */
h1:empty,
h2:empty,
h3:empty,
p:empty,
a:empty      { display: none; }
h1,
h2           { font-weight: 500; }
h3           { font-weight: 600; }
h1           { font-size: 3.4rem; margin-bottom: 3rem; padding-top: 6.4rem; }
h2           { font-size: 2.4rem; margin-bottom: 2.2rem; }
h3           { font-size: 1.8rem; margin-bottom: 1.6rem; }
small        { font-size: .75em; }
.side-nav li { margin-bottom: 1.5rem; }
.p           { margin-bottom: 1rem; }
p,
.p,
h4,
a            { font-size: 1.6rem; }
.btn         { font-size: 1.4rem; font-weight: 500; opacity: .8; }
p,
.p,
a            { font-weight: 400; }
p,
.p,
small        { color: var(--text-body); }
ul li a      { text-decoration: none; }

/* Buttons and Nav Tabs */
a,
.btn-tertiary {
  color: var(--link);
  text-decoration: none;
  font-weight: 600;
  padding: 0;
}

.btn-close {
  background: transparent url(../../public/images/close.svg) no-repeat center;
  width: 2rem;
  height: 2rem;
  opacity: .8;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  min-width: 3rem;
  border-color: var(--accent);
  border-radius: 0;
}

.btn-secondary {
  background-color: transparent;
  color: var(--accent);
  opacity: .8;
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn:hover,
.btn-group > .btn-group:not(:last-child) > .btn:focus,
.btn-group > .btn-group:not(:last-child) > .btn:active,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle):hover,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle):focus,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle):active { border-right: .1rem dashed var(--accent); }
.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:nth-child(n+3),
.btn-group > :not(.btn-check) + .btn                            { border-left-style: dashed; }

.nav-tabs {
  background-color: rgba(var(--nav-bg-alpha), .9);
  font-size: 1.6rem;
  border-bottom: none;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-tabs .nav-link {
  font-weight: 500;
  color: var(--accent);
  border-bottom: .2rem solid transparent;
}

/* Button and Nav Tab States */
a:focus,
a:focus-visible,
a:hover,
.btn-tertiary:hover {
  color: var(--link);
  text-decoration: underline;
  text-decoration-color: var(--accent);
}

a:focus,
.btn:focus,
.btn-close:focus,
.btn-close:focus-visible {
  box-shadow: none;
  outline-offset: 0.1rem;
}

.btn-secondary:hover  {
  background-color: rgba(var(--black), .4);
  box-shadow: inset 0px 0px 0px 1px var(--accent);
}

a:focus,
.btn:focus,
a:focus-visible,
.btn:focus-visible,
.btn-close:focus,
.btn-close:focus-visible,
.nav-tabs .nav-link:focus-visible { outline: .1rem dotted var(--accent); }
.btn-tarotcard                    { opacity: 1; }
.btn-secondary:focus,
.btn-secondary:active             { background-color: rgba(var(--black), 1); }
.btn-close:hover                  { filter: grayscale(100%) brightness(400%); opacity: .8; }
.nav-tabs .nav-link.active        { color: var(--white); }

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus-visible  {
  background-color: rgb(var(--black));
  border: .1rem solid transparent;
  border-bottom: .2rem solid var(--accent);
}

/* Modals */
.modal-header       {
  border-bottom: none;
  position: relative;
}

.modal-header .btn-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.modal-content  { background-color: var(--main-bg); }
.modal-footer   { border-top: none; }
.modal-header,
.modal-footer   { justify-content: space-around; }
.modal-art-view { height: 80vh; }

/* Images */
.paperfox-logo {
  height: 3rem;
  width: 3rem;
  background: transparent url(../../public/images/paperfoxlogo.svg) no-repeat center;
  margin-bottom: 1.5rem;
}

.list-unstyled img[src$=".svg"]       { height: 3.2rem; opacity: .8; }
.list-unstyled img[src$=".svg"]:hover { opacity: 1; }
img[class*="_2"]                      { rotate: 180deg; }
.info-icon                            { width: 2.4rem; } /* Info icon created by i cons from the noun project - tinyurl.com/47b8m4an */
.flip-card,
.build-deck,
.deck-card-stack                      { width: calc(95vh * 0.2); }
.instagram-link img                   { filter: invert(68%) sepia(72%) saturate(1450%) hue-rotate(355deg) brightness(91%) contrast(86%); }

.instagram-formatting {
  aspect-ratio: 1;
  object-fit: cover;
}

/* Tarot Deck Card Stack */
.build-deck {
  position: relative;
  height: calc(100vh * 0.32);
}

.build-deck .deck-card-stack {
  position: absolute;
  top: 0;
  left: 0;
  border: .1rem solid var(--border-tarot-card);
  box-shadow: 0 .3rem 1rem 0 rgba(var(--black), .6);
}

.build-deck img:nth-child(2) { rotate: -2deg; }
.build-deck img:nth-child(3) { rotate: 1deg; }
.build-deck img:nth-child(4) { rotate: -2deg; }

/* Animate Card Flip */
.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(var(--black), .2);
}

.flip-card                         { perspective: 1000px; }
.flip-card-back,
.flip-card .flip-card-inner.show,
.flip-card:active .flip-card-inner { transform: rotateX(180deg); }
.flip-card-back                    { height: 0; }
.flip-card-front                   { border: .1rem solid var(--border-tarot-card); }
.flip-card-front, .flip-card-back  { -webkit-backface-visibility: hidden; backface-visibility: hidden; }


/* Responsive */
@media (max-width: 991.98px) {
  .modal-art-view { height: auto; width: 100%; }
}

@media (min-width: 768px) {
  .side-nav {
    position: sticky;
    top: 4.8rem;
    margin: 0 .5rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .flip-card,
  .build-deck,
  .deck-card-stack { width: 15rem; }
  .build-deck      { height: 25rem; }
}

@media (max-width: 767.98px) {
  .side-nav {
    position: fixed;
    top: 3.6rem;
    display: flex;
    width: 100%;
    background-color: rgba(var(--nav-bg-alpha), .8);
    z-index: 1000;
    margin: 0 -1rem;
  }

  .side-nav li a {
    margin: 1.5rem .5rem;
    display: inline-block;
  }

  .side-nav li {
    margin: auto;
    text-align: center;
  }

  .side-nav li a span      { display: none; }
  [id*="TarotCardList"] h1 { padding-top: 10rem; }
  [id*="sectionTitle"]     { scroll-margin-top: 9rem; }
}

@media (max-width: 575.98px) {
  .flip-card,
  .build-deck,
  .deck-card-stack      { width: calc(95vh * 0.14); }
  .build-deck           { height: calc(100vh * 0.22); }
  .card-body            { padding: 0.4rem; }
  [id*="TarotApp"] .row { --bs-gutter-x: 0.4rem; }
  .mobile-images {
    width: auto !important;
    max-height: 30rem;
    margin-inline: auto;
    display: block;
  }
}


/* Animate draw */
#top {
 transform: translate();
 transition-duration: 450ms;
 opacity: 1;
}

#top.draw-animation-0 { transform: translate(0, 127%); }
#top.draw-animation-1 { transform: translate(65%, 127%); }
#top.draw-animation-2 { transform: translate(122%, 127%); }

#top.draw-animation-time {
  transition-delay: 0ms !important;
  transition-duration: 0ms !important;
}

[id*="tarot-content-"] .card {
  background-color: transparent;
  border-color: transparent;
  color: var(--main-bg);
  transition: all 1s ease 100ms;
}

[id*="tarot-content-"] .card.draw-animation-style {
  background-color: rgba(var(--black), .09);
  border-color: rgba(var(--black), .125);
}

[id*="tarot-content-"] .card .card-body .p { color: transparent; transition: color 1s ease 50ms; }
[id*="tarot-content-"] .card.draw-animation-style .card-body .p { color: var(--white); }
[id*="tarot-content-"] .card .card-body .btn { opacity: 0; }
[id*="tarot-content-"] .card.draw-animation-style .card-body .btn { opacity: 1; position: relative;}
